* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 200px;
    text-align: center;
}

#temp_range {
    width: 200px;
}